---
---

$background-color: #f0f2f2;
$font-color: #000;
$header-font: "Helvetica Neue",Helvetica,Arial,sans-serif;

body {
  margin-top: 60px;
  background-color:#fafafa;
}

.content {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.name-section {
  vertical-align: top;
  font-family: $header-font;
  font-size: 29px;
}

.name-span {
  display: block;
}

.social-section {
  text-align: right;
  font-family: $header-font;
  float: right;
}

@media (max-width: 767px) {
  .social-section {
    text-align: left;
    float: left;
  }
}


.social-section a{
  display:block;
  width:100%;
  height:32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow:hidden;
  background-image:url(/img/social.png);
  background-size: 204px 105px;
  background-repeat:no-repeat;
  background-color:#fafafa;
  border-top:2px solid #434b51;
}

@media (max-width: 767px) {
  .social-section a {
    border-top: none;
  }
}

.social-section ul li {
  float: right;
  width: 34px;
  height: 34px;
}

.social-section li.twitter a {
  background-position: 0px -2px;
}

.social-section li.linkedin a {
  background-position: -68px -2px;
}

.social-section li.facebook a {
  background-position: -34px -2px;
}

.social-section ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

.header-me {
  border-radius: 5px;
}

